#set( $pkg = "com.tzg.web.project.dubbo.provider" )
#set( $pkg = $pkg.replaceAll( "project", $project.toLowerCase() ) )
package $pkg;

import org.springframework.stereotype.Service;

@Service("dubboFooService")
public class FooServiceImpl implements FooService {

    @Override
    public String propmt() {
        return "hello world";
    }

}
